/* color palettes */
 :root{--primaryBackground: #3A4663;
  --outputBackGround: #181F33;
  --outputText: #FFFFFF;
  --secondaryButtonText: #FFFFFF;
  --buttonBoxBackGround: #242D44;
  --primaryButtonBackground: #EAE3DC;
  --primaryButtonShadow: #B3A497;
  --primaryButtonText: #434A59;
  --secondaryButtonBackground: #647198;
  --secondaryButtonShadow: #414E73;
  --equalButtonBackground: #D03F2F;
  --equalButtonShadow: #93261A;
  
}
*::before, *::after{
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--primaryBackground);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

/* .calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
} */

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1/ -1;
  background-color: var(--outputBackGround);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 2.75rem;
  word-wrap: break-word;
  word-break: break-all;
  margin-bottom: 1rem;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}


